---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: prometheus-community
  namespace: monitoring
spec:
  interval: 1h
  url: https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack
